@use 'settings/variables' as *;
@use 'settings/typography' as *;
@use 'settings/global' as *;
@use 'layout/flexbox' as *;
@use 'layout/grid' as *;
@use 'layout/nav' as *;
@use 'layout/bg' as *;
@use 'layout/padding' as *;
@use 'layout/shapes' as *;
@use 'layout/list' as *;
@use 'components/multistep' as *;
@use 'components/button' as *;







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  font-family: $font-stack;
}

.disabled {
  opacity: 0.75;
  pointer-events: none; 
  cursor: default;     
}

