ol {
    list-style: none;
    counter-reset: my-counter;
  
    li {
      counter-increment: my-counter;
      position: relative;
      padding-left: 2rem;
  
      &::before {
        content: counter(my-counter) ". ";
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        left: -12.5rem;
        top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 900;
        z-index: -999;
      }
    }
  }
  