.p-1{
    padding: 1rem;
}
.p-1-5{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}

.ptb-1{
    padding: 1rem 0;
}

.pb-1{
    padding-bottom: 1rem;
}

.pb-2{
    padding-bottom: 2rem;
}

.pb-3{
    padding-bottom: 3rem;
}

.pb-4{
    padding-bottom: 4rem;
}

.pb-5{
    padding-bottom: 5rem;
}

.plr-1{
    padding: 0 1rem;
}

.plr-2{
    padding: 0 2rem;
}

.plr-3{
    padding: 0 3rem;
}
.plr-4{
    padding: 0 4rem;
}
.plr-5{
    padding: 0 5rem;
}